<form class="form" id="request_form" action="/request" method="post">
  <ul>
    <li>
      <label for="host">Host:</label>
      <input type="text" name="host" value=<%=@form.host%>>
    </li>
    <li>
      <label for="endpoint">Endpoint:</label>
      <input type="text" name="endpoint" value=<%=@form.endpoint%>>
    </li>
    <li>
      <label for="method">Method:</label>
      <span>
        <span>
          GET
        </span>
        <span>
          <input type="radio" name="method" value="GET" <%= 'checked' if @form.get? %>>
        </span>
      </span>
      <span>
        <span>
          POST
        </span>
        <span>
          <input type="radio" name="method" value="POST"<%= 'checked' if @form.post? %>>
        </span>
      </span>
    </li>
    <li>
      <label for="payload">Payload:</label>
      <code><textarea autosize type="text" name="payload"><%= @form.payload.pretty %></textarea></code>
    </li>
    <li>
      <label for="submit_form">
      <input type="submit" value="Submit Request">
    </li>
  </ul>
</form>
