<form class="form" id="request_form" action="/request" method="post">
  <ul>
    <input type="hidden" name="id" value="<%= @form.id %>">
    <li class="<%= "error" if @form.errors[:name] %>">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= @form.name %>">
    </li>
    <% if error = @form.errors[:name] %>
      <li class="error">
        <label></label>
        <%= error %>
      </li>
    <% end %>
    <br \>
    <li class="<%= "error" if @form.errors[:host] %>">
      <label for="host">Host:</label>
      <input type="text" name="host" value="<%=@form.host %>">
    </li>
    <% if error = @form.errors[:host] %>
      <li class="error">
        <label></label>
        <%= error %>
      </li>
    <% end %>
    <li class="<%= "error" if @form.errors[:endpoint] %>">
      <label for="endpoint">Endpoint:</label>
      <input type="text" name="endpoint" value="<%=@form.endpoint%>">
    </li>
    <% if error = @form.errors[:endpoint] %>
      <li class="error">
        <label></label>
        <%= error %>
      </li>
    <% end %>
    <li>
      <label for="method">Method:</label>
      <span>
        <span>GET</span>
        <span><input type="radio" name="method" value="GET" <%= 'checked' if @form.get? %>></span>
      </span>
      <span>
        <span>POST</span>
        <span><input type="radio" name="method" value="POST" <%= 'checked' if @form.post? %>></span>
      </span>
    </li>
    <li>
      <label>Enable Auth?</label>
      <input type="checkbox", name="auth_enabled" value="<%= @form.auth_enabled? %>" <%= 'checked' if @form.auth_enabled? %>>
    </li>
    <li>
      <label>Auth name:</label>
      <input type="text", name="auth_user" value="<%= @form.auth_user %>">
    </li>
    <li>
      <label>Auth pass:</label>
      <input type="text", name="auth_pass" value="<%= @form.auth_pass %>">
    </li>
    <li class="<%= "error" if @form.errors[:payload] %>">
      <label for="payload">Payload:</label>
      <code><textarea autosize type="text" name="payload"><%= @form.payload.pretty %></textarea></code>
    </li>
    <% if error = @form.errors[:payload] %>
      <li class="error">
        <label></label>
        <%= error %>
      </li>
    <% end %>
    <li>
      <label for="submit_form"></label>
      <div class="actions inline">
        <div class="button_row">
          <div class="button">
            <input type="submit" class="inline" id="submit_form" value="submit request">
          </div>
          <div class="button">
            <input type="submit" class="inline" id="save_configuration" value="save config" formaction="/save_configuration">
          </div>
          <div class="button">
            <input type="submit" class="inline" value="destroy config" formaction="/destroy_configuration">
          </div>
        </div>
      </div>
    </li>
  </ul>
</form>
